################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build/
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
/src/compile_commands.json
notes.txt
.cache
cloc-2.08.exe
